:root {
  --r-text-ellipsis-font-size: 14px;
  --r-text-ellipsis-line-height: 1.6;
  --r-text-ellipsis-action-color: var(--r-blue);
}

.r-text-ellipsis {
  line-height: var(--r-text-ellipsis-line-height);
  white-space: pre-wrap;
  word-break: break-word;
  font-size: var(--r-text-ellipsis-font-size);

  &__dot--right {
    float: right;
  }

  &__dot--html {
    float: right;
    position: relative;
    top: calc(
      var(--r-text-ellipsis-font-size) * var(--r-text-ellipsis-line-height) * -1
    );
  }

  &__action {
    cursor: pointer;
    color: var(--r-text-ellipsis-action-color);

    &:active {
      opacity: var(--r-active-opacity);
    }

    .r-icon {
      position: relative;
      top: 2px;
    }
  }
}
