:root {
  --r-tooltip-arrow-size: 6px;
  --r-tooltip-radius: var(--r-radius-md);
  --r-tooltip-light-text-color: var(--r-text-color);
  --r-tooltip-light-background: var(--r-background-2);
  --r-tooltip-dark-text-color: var(--r-white);
  --r-tooltip-dark-background: #4a4a4a;
}

.r-tooltip {
  position: absolute;
  overflow: visible;
  background-color: transparent;
  transition: opacity 0.15s, transform 0.15s;

  &__wrapper {
    display: inline-block;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: var(--r-tooltip-arrow-size);
  }

  &__content {
    overflow: hidden;
    border-radius: var(--r-tooltip-radius);
    padding: 5px 11px;
    font-size: 12px;
    line-height: 20px;
    min-width: 10px;
    word-wrap: break-word;
    visibility: visible;
  }

  &[data-popper-placement^='top'] {
    .r-tooltip__arrow {
      bottom: 0;
      border-top-color: currentColor;
      border-bottom-width: 0;
      transform: translate(-50%, 0%);
      margin-bottom: calc(var(--r-tooltip-arrow-size) * -1);
    }
  }

  &[data-popper-placement='top'] {
    transform-origin: 50% 100%;

    .r-tooltip__arrow {
      left: 50%;
    }
  }

  &[data-popper-placement='top-start'] {
    transform-origin: 0 100%;

    .r-tooltip__arrow {
      left: var(--r-padding-md);
    }
  }

  &[data-popper-placement='top-end'] {
    transform-origin: 100% 100%;

    .r-tooltip__arrow {
      right: var(--r-padding-md);
    }
  }

  &[data-popper-placement^='left'] {
    .r-tooltip__arrow {
      right: 0;
      border-right-width: 0;
      border-left-color: currentColor;
      transform: translate(0%, -50%);
      margin-right: calc(var(--r-tooltip-arrow-size) * -1);
    }
  }

  &[data-popper-placement='left'] {
    transform-origin: 100% 50%;

    .r-tooltip__arrow {
      top: 50%;
    }
  }

  &[data-popper-placement='left-start'] {
    transform-origin: 100% 0;

    .r-tooltip__arrow {
      top: var(--r-padding-md);
    }
  }

  &[data-popper-placement='left-end'] {
    transform-origin: 100% 100%;

    .r-tooltip__arrow {
      bottom: var(--r-padding-md);
    }
  }

  &[data-popper-placement^='right'] {
    .r-tooltip__arrow {
      left: 0;
      border-right-color: currentColor;
      border-left-width: 0;
      transform: translate(0%, -50%);
      margin-left: calc(var(--r-tooltip-arrow-size) * -1);
    }
  }

  &[data-popper-placement='right'] {
    transform-origin: 0 50%;

    .r-tooltip__arrow {
      top: 50%;
    }
  }

  &[data-popper-placement='right-start'] {
    transform-origin: 0 0;

    .r-tooltip__arrow {
      top: var(--r-padding-md);
    }
  }

  &[data-popper-placement='right-end'] {
    transform-origin: 0 100%;

    .r-tooltip__arrow {
      bottom: var(--r-padding-md);
    }
  }

  &[data-popper-placement^='bottom'] {
    .r-tooltip__arrow {
      top: 0;
      border-top-width: 0;
      border-bottom-color: currentColor;
      transform: translate(-50%, 0%);
      margin-top: calc(var(--r-tooltip-arrow-size) * -1);
    }
  }

  &[data-popper-placement='bottom'] {
    transform-origin: 50% 0;

    .r-tooltip__arrow {
      left: 50%;
    }
  }

  &[data-popper-placement='bottom-start'] {
    transform-origin: 0 0;

    .r-tooltip__arrow {
      left: var(--r-padding-md);
    }
  }

  &[data-popper-placement='bottom-end'] {
    transform-origin: 100% 0;

    .r-tooltip__arrow {
      right: var(--r-padding-md);
    }
  }

  &--light {
    color: var(--r-tooltip-light-text-color);

    .r-tooltip__content {
      background: var(--r-tooltip-light-background);
      box-shadow: 0 2px 12px rgba(50, 50, 51, 0.12);
    }

    .r-tooltip__arrow {
      color: var(--r-tooltip-light-background);
    }
  }

  &--dark {
    color: var(--r-tooltip-dark-text-color);

    .r-tooltip__content {
      background: var(--r-tooltip-dark-background);
    }

    .r-tooltip__arrow {
      color: var(--r-tooltip-dark-background);
    }
  }

  &-zoom-enter-from,
  &-zoom-leave-active {
    transform: scale(0.8);
    opacity: 0;
  }

  &-zoom-enter-active {
    transition-timing-function: var(--r-ease-out);
  }

  &-zoom-leave-active {
    transition-timing-function: var(--r-ease-in);
  }
}
