:root {
  --r-tooltip-arrow-size: 6px;
  --r-tooltip-radius: var(--r-radius-md);
  --r-tooltip-light-text-color: var(--r-text-color);
  --r-tooltip-light-background: var(--r-background-2);
  --r-tooltip-dark-text-color: var(--r-white);
  --r-tooltip-dark-background: #4a4a4a;
}

.r-tooltip {
  position: absolute;
  overflow: visible;
  background-color: transparent;
  transition: opacity 0.15s, transform 0.15s;

  &__arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 0;

    &::before {
      position: absolute;
      width: 10px;
      height: 10px;
      z-index: -1;
      content: ' ';
      transform: rotate(45deg);
      background: var(--r-text-color-primary);
      box-sizing: border-box;
    }
  }

  &__content {
    overflow: hidden;
    border-radius: var(--r-tooltip-radius);
    padding: 5px 11px;
    font-size: 12px;
    line-height: 20px;
    min-width: 10px;
    word-wrap: break-word;
    visibility: visible;
  }

  &[data-popper-placement^='top'] {
    .r-tooltip__arrow {
      bottom: -5px;

      &::before {
        border-bottom-right-radius: 2px;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
      }
    }
  }

  &[data-popper-placement^='bottom'] {
    .r-tooltip__arrow {
      top: -5px;

      &::before {
        border-top-left-radius: 2px;
        border-bottom-color: transparent !important;
        border-right-color: transparent !important;
      }
    }
  }

  &[data-popper-placement^='left'] {
    .r-tooltip__arrow {
      right: -5px;

      &::before {
        border-top-right-radius: 2px;
        border-left-color: transparent !important;
        border-bottom-color: transparent !important;
      }
    }
  }

  &[data-popper-placement^='right'] {
    .r-tooltip__arrow {
      left: -5px;

      &::before {
        border-bottom-left-radius: 2px;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
      }
    }
  }

  &--light {
    color: var(--r-tooltip-light-text-color);

    .r-tooltip__content {
      background: var(--r-tooltip-light-background);
      border: 1px solid var(--r-border-color-light);
    }

    .r-tooltip__arrow::before {
      border: 1px solid var(--r-border-color-light);
      background: var(--r-tooltip-light-background);
      right: 0;
    }
  }

  &--dark {
    color: var(--r-tooltip-dark-text-color);

    .r-tooltip__content {
      background: var(--r-tooltip-dark-background);
      border: 1px solid var(--r-text-color-primary);
    }

    .r-tooltip__arrow::before {
      border: 1px solid var(--r-text-color-primary);
      background: var(--r-tooltip-dark-background);
      right: 0;
    }
  }

  &-zoom-enter-from,
  &-zoom-leave-active {
    transform: scale(0.8);
    opacity: 0;
  }

  &-zoom-enter-active {
    transition-timing-function: var(--r-ease-out);
  }

  &-zoom-leave-active {
    transition-timing-function: var(--r-ease-in);
  }
}
