:root {
  --r-card-border-color: var(--r-border-color-light);
  --r-card-border-radius: 4px;
  --r-card-padding: 20px;
  --r-card-bg-color: var(--r-fill-color-blank);
}

.r-card {
  border-radius: var(--r-card-border-radius);
  border: 1px solid var(--r-card-border-color);
  background-color: var(--r-card-bg-color);
  overflow: hidden;
  color: var(--r-text-color-primary);
  transition: var(--r-duration-base);

  &.is-always-shadow {
    box-shadow: var(--r-box-shadow-light);
  }

  &.is-hover-shadow:focus,
  &.is-hover-shadow:hover {
    box-shadow: var(--r-box-shadow-light);
  }

  &__header {
    padding: calc(var(--r-card-padding) - 2px) var(--r-card-padding);
    border-bottom: 1px solid var(--r-card-border-color);
    box-sizing: border-box;
  }

  &__body {
    padding: var(--r-card-padding);
  }
}
