:root {
  --r-skeleton-duration: 1.2s;
}

.r-skeleton {
  display: flex;
  padding: 0 var(--r-padding-md);

  &__content {
    width: 100%;
  }

  &--animate {
    animation: r-skeleton-blink var(--r-skeleton-duration) ease-in-out infinite;
  }
}

@keyframes r-skeleton-blink {
  50% {
    opacity: 0.6;
  }
}
