:root {
  --r-switch-size: 26px;
  --r-switch-width: calc(2em + 4px);
  --r-switch-height: calc(1em + 4px);
  --r-switch-node-size: 1em;
  --r-switch-node-background: var(--r-white);
  --r-switch-node-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05);
  --r-switch-background: rgba(120, 120, 128, 0.16);
  --r-switch-on-background: var(--r-primary-color);
  --r-switch-duration: var(--r-duration-base);
  --r-switch-disabled-opacity: var(--r-disabled-opacity);
}

.r-theme-dark {
  --r-switch-background: rgba(120, 120, 128, 0.32);
}

.r-switch {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: var(--r-switch-width);
  height: var(--r-switch-height);
  font-size: var(--r-switch-size);
  background: var(--r-switch-background);
  border-radius: var(--r-switch-node-size);
  cursor: pointer;
  transition: background-color var(--r-switch-duration);

  &__node {
    position: absolute;
    top: 2px;
    left: 2px;
    width: var(--r-switch-node-size);
    height: var(--r-switch-node-size);
    // https://github.com/PeterPanY/ryxon/issues/9839
    font-size: inherit;
    background: var(--r-switch-node-background);
    border-radius: 100%;
    box-shadow: var(--r-switch-node-shadow);
    transition: transform var(--r-switch-duration)
      cubic-bezier(0.3, 1.05, 0.4, 1.05);
  }

  &__loading {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    line-height: 1;
  }

  &--on {
    background: var(--r-switch-on-background);

    .r-switch__node {
      transform: translateX(
        calc(var(--r-switch-width) - var(--r-switch-node-size) - 4px)
      );
    }

    .r-switch__loading {
      color: var(--r-switch-on-background);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: var(--r-switch-disabled-opacity);
  }

  &--loading {
    cursor: default;
  }

  &__text {
    display: inline-flex;
    align-items: center;
    position: relative;
  }

  &__label {
    transition: var(--r-duration-fast);
    line-height: var(--r-switch-height);
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    color: var(--r-text-color-primary);

    &.is-active {
      color: var(--r-switch-on-background);
    }

    &-left {
      margin-right: 10px;
    }

    &-right {
      margin-left: 10px;
    }

    * {
      line-height: 1;
      font-size: 14px;
      display: inline-block;
    }

    .r-icon {
      height: inherit;

      svg {
        vertical-align: middle;
      }
    }
  }

  &__inner {
    width: 100%;
    transition: all var(--r-duration-base);
    height: var(--r-switch-height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 4px 0 calc(var(--r-switch-size) + 2px);

    .is-icon,
    .is-text {
      font-size: 12px;
      color: var(--r-white);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--on .r-switch__inner {
    padding: 0 calc(var(--r-switch-size) + 2px) 0 4px;
  }
}
