:root {
  --r-action-bar-button-height: 40px;
}

.r-button.r-action-bar-button {
  flex: 1;
  height: var(--r-action-bar-button-height);
  font-weight: var(--r-font-bold);
  font-size: var(--r-font-size-md);
  border-radius: 0;

  & + .r-button {
    margin: 0;
  }

  &--first {
    margin-left: 5px;
    border-top-left-radius: var(--r-radius-max);
    border-bottom-left-radius: var(--r-radius-max);
  }

  &--last {
    margin-right: 5px;
    border-top-right-radius: var(--r-radius-max);
    border-bottom-right-radius: var(--r-radius-max);
  }

  @media (max-width: 321px) {
    font-size: 13px;
  }
}
