:root {
  --r-popover-action-width: 128px;
  --r-popover-action-height: 44px;
  --r-popover-action-font-size: var(--r-font-size-md);
  --r-popover-action-icon-size: 20px;
  --r-popover-horizontal-action-height: 34px;
  --r-popover-horizontal-action-icon-size: 16px;
  --r-popover-light-action-disabled-text-color: var(--r-text-color-3);
  --r-popover-dark-action-disabled-text-color: var(--r-text-color-2);
}

.r-popover {
  &__content {
    &--horizontal {
      display: flex;
      width: max-content;

      .r-popover__action {
        flex: none;
        width: auto;
        height: var(--r-popover-horizontal-action-height);
        padding: 0 var(--r-padding-sm);

        &:last-child::after {
          display: none;
        }

        &-icon {
          margin-right: var(--r-padding-base);
          font-size: var(--r-popover-horizontal-action-icon-size);
        }
      }
    }
  }

  &__action {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: var(--r-popover-action-width);
    height: var(--r-popover-action-height);
    padding: 0 var(--r-padding-md);
    font-size: var(--r-popover-action-font-size);
    line-height: var(--r-line-height-md);
    cursor: pointer;

    &:last-child {
      .r-popover__action-text::after {
        display: none;
      }
    }

    &-text {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &-icon {
      margin-right: var(--r-padding-xs);
      font-size: var(--r-popover-action-icon-size);
    }

    &--with-icon {
      .r-popover__action-text {
        justify-content: flex-start;
      }
    }
  }

  &--light {
    .r-popover__action {
      &:active {
        background-color: var(--r-active-color);
      }

      &--disabled {
        color: var(--r-popover-light-action-disabled-text-color);
        cursor: not-allowed;

        &:active {
          background-color: transparent;
        }
      }
    }
  }

  &--dark {
    .r-popover__action {
      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &--disabled {
        color: var(--r-popover-dark-action-disabled-text-color);

        &:active {
          background-color: transparent;
        }
      }
    }

    .r-popover__action-text {
      &::after {
        border-color: var(--r-gray-7);
      }
    }
  }
}
