:root {
  --r-button-font-weight: var(--r-font-weight-primary);
  --r-button-border-color: var(--r-border-color);
  --r-button-bg-color: var(--r-fill-color-blank);
  --r-button-text-color: var(--r-text-color-regular);
  --r-button-disabled-text-color: var(--r-disabled-text-color);
  --r-button-disabled-bg-color: var(--r-fill-color-blank);
  --r-button-disabled-border-color: var(--r-border-color-light);
  --r-button-divide-border-color: rgba(255, 255, 255, 0.5);
  --r-button-hover-text-color: var(--r-primary-color);
  --r-button-hover-bg-color: var(--r-primary-color-light-9);
  --r-button-hover-border-color: var(--r-primary-color-light-7);
  --r-button-active-text-color: var(--r-button-hover-text-color);
  --r-button-active-border-color: var(--r-primary-color);
  --r-button-active-bg-color: var(--r-button-hover-bg-color);
  --r-button-outline-color: var(--r-primary-color-light-5);
  --r-button-hover-link-text-color: var(--r-info-color);
  --r-button-active-color: var(--r-text-color-primary);
  --r-button-loading-icon-size: 20px;
}

.r-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--r-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  transition: 0.1s;
  font-weight: var(--r-button-font-weight);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--r-button-bg-color);
  border: var(--r-border);
  border-color: var(--r-button-border-color);
  padding: 8px 15px;
  font-size: var(--r-font-size-md);
  border-radius: var(--r-radius-md);

  &:focus,
  &:hover {
    color: var(--r-button-hover-text-color);
    border-color: var(--r-button-hover-border-color);
    background-color: var(--r-button-hover-bg-color);
    outline: 0;
  }

  &:active {
    color: var(--r-button-active-text-color);
    border-color: var(--r-button-active-border-color);
    background-color: var(--r-button-active-bg-color);
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid var(--r-button-outline-color);
    outline-offset: 1px;
  }

  & > span {
    display: inline-flex;
    align-items: center;
  }

  & + & {
    margin-left: 12px;
  }

  &--round {
    padding: 8px 15px;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  [class*='r-icon'] {
    & + span {
      margin-left: 6px;
    }

    svg {
      vertical-align: bottom;
    }
  }

  &--plain {
    --r-button-hover-text-color: var(--r-primary-color);
    --r-button-hover-bg-color: var(--r-fill-color-blank);
    --r-button-hover-border-color: var(--r-primary-color);
  }

  &--disabled,
  &--disabled:focus,
  &--disabled:hover {
    color: var(--r-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--r-button-disabled-bg-color);
    border-color: var(--r-button-disabled-border-color);
  }

  &--loading {
    position: relative;
    pointer-events: none;
    color: inherit;
    font-size: inherit;

    .r-button__content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .r-loading__spinner {
      color: currentColor;
      width: var(--r-button-loading-icon-size);
      height: var(--r-button-loading-icon-size);
    }

    &:before {
      z-index: 1;
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: var(--r-mask-color-extra-light);
    }
  }

  &__icon + &__text,
  &__loading + &__text,
  &__text + &__icon,
  &__text + &__loading {
    margin-left: var(--r-padding-base);
  }

  &--round {
    border-radius: var(--r-radius-max);
  }

  &--circle {
    border-radius: 50%;
    padding: 8px;
  }

  &--text {
    color: var(--r-button-text-color);
    border: 0 solid transparent;
    background-color: transparent;

    &.r-button--disabled {
      color: var(--r-button-disabled-text-color);
      background-color: transparent !important;
    }

    &:not(.r-button--disabled) {
      &:focus,
      &:hover {
        background-color: var(--r-fill-color-light);
      }

      &:focus-visible {
        outline: 2px solid var(--r-button-outline-color);
        outline-offset: 1px;
      }

      &:active {
        background-color: var(--r-fill-color);
      }

      &.is-has-bg {
        background-color: var(--r-fill-color-light);

        &:focus,
        &:hover {
          background-color: var(--r-fill-color);
        }

        &:active {
          background-color: var(--r-fill-color-dark);
        }
      }
    }
  }

  &--link {
    border-color: transparent;
    color: var(--r-button-text-color);
    background: 0 0;
    padding: 2px;
    height: auto;

    &:focus,
    &:hover {
      color: var(--r-button-hover-link-text-color);
    }

    &.r-button--disabled {
      color: var(--r-button-disabled-text-color);
      background-color: transparent !important;
      border-color: transparent !important;
    }

    &:not(.r-button--disabled) {
      &:focus,
      &:hover {
        border-color: transparent;
        background-color: transparent;
      }

      &:active {
        color: var(--r-button-active-color);
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  &--primary {
    --r-button-text-color: var(--r-white);
    --r-button-bg-color: var(--r-primary-color);
    --r-button-border-color: var(--r-primary-color);
    --r-button-outline-color: var(--r-primary-color-light-5);
    --r-button-active-color: var(--r-primary-color-dark-2);
    --r-button-hover-text-color: var(--r-white);
    --r-button-hover-link-text-color: var(--r-primary-color-light-5);
    --r-button-hover-bg-color: var(--r-primary-color-light-3);
    --r-button-hover-border-color: var(--r-primary-color-light-3);
    --r-button-active-bg-color: var(--r-primary-color-dark-2);
    --r-button-active-border-color: var(--r-primary-color-dark-2);
    --r-button-disabled-text-color: var(--r-white);
    --r-button-disabled-bg-color: var(--r-primary-color-light-5);
    --r-button-disabled-border-color: var(--r-primary-color-light-5);

    &.r-button--link,
    &.r-button--plain,
    &.r-button--text {
      --r-button-text-color: var(--r-primary-color);
      --r-button-bg-color: var(--r-primary-color-light-9);
      --r-button-border-color: var(--r-primary-color-light-5);
      --r-button-hover-text-color: var(--r-white);
      --r-button-hover-bg-color: var(--r-primary-color);
      --r-button-hover-border-color: var(--r-primary-color);
      --r-button-active-text-color: var(--r-white);

      &.r-button--disabled,
      &.r-button--disabled:active,
      &.r-button--disabled:focus,
      &.r-button--disabled:hover {
        color: var(--r-primary-color-light-5);
        background-color: var(--r-primary-color-light-9);
        border-color: var(--r-primary-color-light-8);
      }
    }
  }

  &--success {
    --r-button-text-color: var(--r-white);
    --r-button-bg-color: var(--r-success-color);
    --r-button-border-color: var(--r-success-color);
    --r-button-outline-color: var(--r-success-color-light-5);
    --r-button-active-color: var(--r-success-color-dark-2);
    --r-button-hover-text-color: var(--r-white);
    --r-button-hover-link-text-color: var(--r-success-color-light-5);
    --r-button-hover-bg-color: var(--r-success-color-light-3);
    --r-button-hover-border-color: var(--r-success-color-light-3);
    --r-button-active-bg-color: var(--r-success-color-dark-2);
    --r-button-active-border-color: var(--r-success-color-dark-2);
    --r-button-disabled-text-color: var(--r-white);
    --r-button-disabled-bg-color: var(--r-success-color-light-5);
    --r-button-disabled-border-color: var(--r-success-color-light-5);

    &.r-button--link,
    &.r-button--plain,
    &.r-button--text {
      --r-button-text-color: var(--r-success-color);
      --r-button-bg-color: var(--r-success-color-light-9);
      --r-button-border-color: var(--r-success-color-light-5);
      --r-button-hover-text-color: var(--r-white);
      --r-button-hover-bg-color: var(--r-success-color);
      --r-button-hover-border-color: var(--r-success-color);
      --r-button-active-text-color: var(--r-white);

      &.r-button--disabled,
      &.r-button--disabled:active,
      &.r-button--disabled:focus,
      &.r-button--disabled:hover {
        color: var(--r-success-color-light-5);
        background-color: var(--r-success-color-light-9);
        border-color: var(--r-success-color-light-8);
      }
    }
  }

  &--warning {
    --r-button-text-color: var(--r-white);
    --r-button-bg-color: var(--r-warning-color);
    --r-button-border-color: var(--r-warning-color);
    --r-button-outline-color: var(--r-warning-color-light-5);
    --r-button-active-color: var(--r-warning-color-dark-2);
    --r-button-hover-text-color: var(--r-white);
    --r-button-hover-link-text-color: var(--r-warning-color-light-5);
    --r-button-hover-bg-color: var(--r-warning-color-light-3);
    --r-button-hover-border-color: var(--r-warning-color-light-3);
    --r-button-active-bg-color: var(--r-warning-color-dark-2);
    --r-button-active-border-color: var(--r-warning-color-dark-2);
    --r-button-disabled-text-color: var(--r-white);
    --r-button-disabled-bg-color: var(--r-warning-color-light-5);
    --r-button-disabled-border-color: var(--r-warning-color-light-5);

    &.r-button--link,
    &.r-button--plain,
    &.r-button--text {
      --r-button-text-color: var(--r-warning-color);
      --r-button-bg-color: var(--r-warning-color-light-9);
      --r-button-border-color: var(--r-warning-color-light-5);
      --r-button-hover-text-color: var(--r-white);
      --r-button-hover-bg-color: var(--r-warning-color);
      --r-button-hover-border-color: var(--r-warning-color);
      --r-button-active-text-color: var(--r-white);

      &.r-button--disabled,
      &.r-button--disabled:active,
      &.r-button--disabled:focus,
      &.r-button--disabled:hover {
        color: var(--r-warning-color-light-5);
        background-color: var(--r-warning-color-light-9);
        border-color: var(--r-warning-color-light-8);
      }
    }
  }

  &--danger {
    --r-button-text-color: var(--r-white);
    --r-button-bg-color: var(--r-danger-color);
    --r-button-border-color: var(--r-danger-color);
    --r-button-outline-color: var(--r-danger-color-light-5);
    --r-button-active-color: var(--r-danger-color-dark-2);
    --r-button-hover-text-color: var(--r-white);
    --r-button-hover-link-text-color: var(--r-danger-color-light-5);
    --r-button-hover-bg-color: var(--r-danger-color-light-3);
    --r-button-hover-border-color: var(--r-danger-color-light-3);
    --r-button-active-bg-color: var(--r-danger-color-dark-2);
    --r-button-active-border-color: var(--r-danger-color-dark-2);
    --r-button-disabled-text-color: var(--r-white);
    --r-button-disabled-bg-color: var(--r-danger-color-light-5);
    --r-button-disabled-border-color: var(--r-danger-color-light-5);

    &.r-button--link,
    &.r-button--plain,
    &.r-button--text {
      --r-button-text-color: var(--r-danger-color);
      --r-button-bg-color: var(--r-danger-color-light-9);
      --r-button-border-color: var(--r-danger-color-light-5);
      --r-button-hover-text-color: var(--r-white);
      --r-button-hover-bg-color: var(--r-danger-color);
      --r-button-hover-border-color: var(--r-danger-color);
      --r-button-active-text-color: var(--r-white);

      &.r-button--disabled,
      &.r-button--disabled:active,
      &.r-button--disabled:focus,
      &.r-button--disabled:hover {
        color: var(--r-danger-color-light-5);
        background-color: var(--r-danger-color-light-9);
        border-color: var(--r-danger-color-light-8);
      }
    }
  }

  &--info {
    --r-button-text-color: var(--r-white);
    --r-button-bg-color: var(--r-info-color);
    --r-button-border-color: var(--r-info-color);
    --r-button-outline-color: var(--r-info-color-light-5);
    --r-button-active-color: var(--r-info-color-dark-2);
    --r-button-hover-text-color: var(--r-white);
    --r-button-hover-link-text-color: var(--r-info-color-light-5);
    --r-button-hover-bg-color: var(--r-info-color-light-3);
    --r-button-hover-border-color: var(--r-info-color-light-3);
    --r-button-active-bg-color: var(--r-info-color-dark-2);
    --r-button-active-border-color: var(--r-info-color-dark-2);
    --r-button-disabled-text-color: var(--r-white);
    --r-button-disabled-bg-color: var(--r-info-color-light-5);
    --r-button-disabled-border-color: var(--r-info-color-light-5);

    &.r-button--link,
    &.r-button--plain,
    &.r-button--text {
      --r-button-text-color: var(--r-info-color);
      --r-button-bg-color: var(--r-info-color-light-9);
      --r-button-border-color: var(--r-info-color-light-5);
      --r-button-hover-text-color: var(--r-white);
      --r-button-hover-bg-color: var(--r-info-color);
      --r-button-hover-border-color: var(--r-info-color);
      --r-button-active-text-color: var(--r-white);

      &.r-button--disabled,
      &.r-button--disabled:active,
      &.r-button--disabled:focus,
      &.r-button--disabled:hover {
        color: var(--r-info-color-light-5);
        background-color: var(--r-info-color-light-9);
        border-color: var(--r-info-color-light-8);
      }
    }
  }

  &--large {
    --r-button-size: 40px;
    height: var(--r-button-size);
    padding: 12px 19px;

    [class*='r-icon'] + span {
      margin-left: 8px;
    }

    &.r-button--round {
      padding: 12px 19px;
    }

    &.r-button--circle {
      width: var(--r-button-size);
      padding: 12px;
    }
  }

  &--small {
    --r-button-size: 24px;
    height: var(--r-button-size);
    padding: 5px 11px;
    font-size: 12px;
    border-radius: calc(var(--r-radius-md) - 1px);

    [class*='r-icon'] + span {
      margin-left: 4px;
    }

    &.r-button--round {
      padding: 5px 11px;
    }

    &.r-button--circle {
      width: var(--r-button-size);
      padding: 5px;
    }
  }
}
